<% title="ADD MESSAGE" %>

<div>
    <form action="/newMessage" method="POST">
  <input type="text" name="title" placeholder="Title....." required />
  <textarea name="content" placeholder="Type Message...."></textarea>
  <button type="submit">ADD MESSAGE</button>
</form>
</div>